services:
  nginx:
    image: nginx:alpine
    network_mode: host
    volumes:
      - ./frontend/dist:/usr/share/nginx/html:ro # Remember to build with: `cd frontend && npm install && npm run build`
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
